:root {
  --clr-primary: #545758;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #9ea4a9;
  padding: 5px 25px;
  /* position: fixed; */

  position: sticky;
  top: 0;
}

li {
  list-style-type: none;
}

a {
  /* font-size: 1.6rem;  */
  text-decoration: none;
  color: var(--clr-primary);
}

.nav-link a {
  display: block; /* Ensure the link fills the list item */
  padding: 10px; /* Add padding for better click area */
}

.nav-link a:hover {
  background-color: #53707e; /* Hover background color */
  border-radius: 30px;
  color: white;
}

.nav-link.active a {
  background-color: #53707e; /* Active link background color */
  border-radius: 30px;
  color: white;
}

.brand-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  /* background-color: aqua; */
  /* height: 70px; */
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-primary);
}

.logo {
  width: 100px;
  margin: -10px;
}

.logo > img {
  width: 100%;
}

.toggle {
  background-color: transparent;
  color: var(--clr-primary);
  font-size: 2.7rem; /* Fixed spacing */
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Smooth transition */
}

.nav-list.active {
  max-height: 400px;
  margin: 0 0 20px 0;
  /* background-color: aqua; Adjust color as needed */
}

.nav-link {
  border-bottom: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}

@media screen and (min-width:950px) {
  .navbar {
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px 25px;
    border-bottom: 3px solid #545758;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
    width: auto; /* Set width to initialize width */
    max-height: none; /* Remove height restrictions for large screens */
  }

  .nav-link {
    height: auto;
    border: none;
  }

  .toggle {
    display: none;
  }

  .nav-list.active {
    margin: 0;
  }
}


.admin-header {
  background-color: #0284ff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.admin-header-g1 {
  display: flex;
}
.admin-header-g2 {
  display: flex;
}
.Brand {
  margin-top: 25px;
}
.txt-brand-name {
  font-size: 18px;
  font-weight: bold;
}
.txt-user-name {
  font-size: 16px;
  font-weight: bold;
}
.Admin-logo {
  width: 80px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.Profile-User {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  object-fit: cover;
  border-radius: 60%;
   cursor: pointer;
}

.txtSeach {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.Lavel_User {
  margin-top: 5px;
}

.icon-notify {
  margin-top: 10px;
  font-size: 35px;
  margin-right: 15px;
}
.icon-email {
  margin-top: 10px;
  font-size: 35px;
  margin-right: 15px;
}
.Admin-body {
  padding: 16px;
  height: calc(100vh - 100px);
}
.btnLOGOUT Button{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
}
